# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
UART_USART_example/UART_USART_example/Debug/
UART_USART_library/UART_USART_library/Debug/
THIRDPARTY_LWIP_RAW_BASIC_HTTP_EXAMPLE1/THIRDPARTY_LWIP_RAW_BASIC_HTTP_EXAMPLE1/Debug/
